<h1>{{ name() }}</h1>

<dl>
  <td>Nombre:</td>
  <dd>{{ name() }}</dd>

  <td>Edad:</td>
  <dd>{{ age() }}</dd>

  <td>Método:</td>
  <dd>{{ HeroDescription() }}</dd>

  <td>Capitalizado:</td>
  <!--Capitalizacion mediante funcion -->
  <!--<dd>{{ name().toUpperCase() }}</dd>-->
  
  <!--Capitalizacion con señal computada-->
  <dd>{{ capitalizedName() }}</dd>
  
  <!--PIPES-->
  <dd>{{ name() | uppercase}}</dd>
</dl>

<button (click)="changeHero()" class="btn btn-primary mx-2">
  Cambiar nombre
</button>

<button (click)="chageAge()" class="btn btn-primary">Cambiar edad</button>

<button (click)="resetForm()" class="btn btn-primary mx-2">Reset</button>